$color-blue:#00f;
$color-red:#f00;
$color-yellow:#ff0;

body {
  font-size:14px;
  background-color: $color-blue;
  font-family: 'Courier New', Courier, monospace;
}

#box{
  color:$color-yellow;
  background-color: $color-red;
}